<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AirBNB-paralax.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3AA798401C043BAC008F931F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3AA798541C043BAD008F931F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3AA7985F1C043BAD008F931F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
